<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatWithGrok.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F74E6FA62CD7A8B900857962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74E6FB62CD7A8BB00857962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74E6FC02CD7A8BB00857962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
